<ion-header>
  <!--  <ion-toolbar>
    <ion-title>ordersuccess</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="order-page">
    <span class="suc">
      <ion-icon name="checkmark-done-outline"></ion-icon>
    </span>
    <p>Thank You for your order!</p>
    <p>Your order will be delivered in {{minutesToDeliver ? minutesToDeliver : '30'}} minutes. </p>

    <div class="o-details">
      <p>Order No : {{orderIdLong}}</p>
      <p>Total Bill : {{totalBill}}</p>
      <ng-container *ngFor="let menu of orderDetails">
        <p class="menu">{{menu.Menu_Name}} x {{menu.Quantity}} : {{ menu.Amount}} </p>
      </ng-container>
    </div>

    <span routerLink="/tabs/home" class="con-btn">Continue</span>
  </div>
</ion-content>