.order-page{
    text-align:center;
    margin: 100px 20px 50px;


  span.suc{
    width: 50px;
    height: 50px;
    background: rgb(24, 170, 19);
    color: #fff;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 50%;
  }


  .o-details{
    margin: 40px 20px;

     p{
         margin: 5px;
         text-align: left;
     }
  }

  p.menu {
    font-size: 0.7rem;
}


  .con-btn{
    background: rgb(24, 170, 19);
    padding: 10px 20px;
    color: #fff;
    border-radius:5px; 
  }
}