<ion-content>

  <div class="bg-color">
    <form #form="ngForm" #otpForm>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col class="ion-align-self-center" size-md="12" size-xs="12">
            <div class="home-logo" text-center>
              <img src="assets/images/logo.png" />
            </div>
            <div class="inn-content">
              <div class="otp-text">
                OTP SMS Sent to Your Mobile 
              </div>
              <ion-input name="otp" type="text" placeholder="Enter OTP here" class="mob-input" [(ngModel)]='otpPin' minlength=4 maxlength=6 required>
              </ion-input>
              <ion-button size="large" type="submit" [disabled]="form.invalid" class="login-btn" expand="block" (click)="otpSubmit()">SUBmit</ion-button>
              <div class="otp-text">
                {{errMessage}}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

</ion-content>