<ion-header class="custom-head" [translucent]="false">
  <!--  <app-header></app-header> -->
  <div>  <ion-icon name="arrow-back-outline" (click)='goBack()'></ion-icon> My Account</div>
 </ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <diV class="acc-sec">
    <div class="acc-action" >
      <span routerLink="/update-profile" >Edit Profile</span>
    </div>
    <h2>SIDDHESH BAIT</h2>
    <h3>8600366639</h3>
    <p>b-02 Ostwal Valley boisar 401501</p>
  </diV>

  <div class="greyarea"></div>
<!-- 
  <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
